.chatbox{
    position: absolute;
    bottom: 10px; left: 0; right: 0;
}

.chatbox-input{
    width: 90%;
    border-radius: 10px;
    border: 30px;
    margin: 15px;
    padding: 12px;
}

.chatbot-page{
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.chat-log{
    margin: 24px;
    text-align: left;
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.chat-mesage-center{
    display: flex;
}

.avatar{
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background-color: white;
    display: flex;
    color: #fff; 
    margin-left: 20px;
}

.avatar-AI{
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background-color: white;
    display: flex;
    background-color: green; 
    margin-left: 20px;
}

.message {
    margin-left: 10px;
    margin-right: 40px;
    height: 30px;
    width: 80%;
    margin-top: 10px;
  }



