* {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fafafc;
  color: #777;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.chatbot-content {
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

p {
  font-weight: 200;
  font-size: 14px;
}

.search-result {
  margin-top: 10px;
  overflow: scroll;
  max-height: 60vh;
}

.surprise {
  background-color: #00a86b;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  padding: 4px 12px;
  margin: 0 0 2px 5px;
  border: none;
  cursor: pointer;
}

.surprise:hover {
  color: #008f5a;
  background-color: rgba(0, 0, 0, 0.05);
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  border: solid 0.5px #cacaca;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: rgba(0,0,82,0.15) 0 2px 4px; 
  overflow: hidden;
  margin-bottom: 20px;
}

.input-container input {
  border: none;
  padding: 13px 14px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  width: 70%;
  font-weight: 200;
}

.input-container .ask-button {
  width: 15%;
  border: none;
  border-left: 1px solid #cacaca;
  background-color: #00a86b;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 13px 14px;
  transition: background-color 0.3s ease;
}

.input-container .ask-button:hover {
  color: #008f5a;
  background-color: rgba(0, 0, 0, 0.05);
}

.answer {
  padding: 13px 14px;
  border: solid 0.5px #cacaca;
  background-color: #fff;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 200;
  border-radius: 6px;
}

.error {
  color: red;
  font-weight: bold;
}

@media (max-width: 768px) {
  .chatbot-content {
    width: 90%;
    padding: 10px;
  }

  .input-container input {
    width: 60%;
  }

  .input-container .ask-button {
    width: 20%;
    font-size: 12px;
  }
}