.chatbox{
    position: absolute;
    bottom: 10px; left: 0; right: 0;
}

.chatbox-input{
    width: 90%;
    border-radius: 10px;
    border: 30px;
    margin: 15px;
    padding: 12px;
}

.chatbot-page{
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.chat-log{
    padding: 24px;
    text-align: left;

}

.chat-message{

}

.chat-message-center{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto ;
    display: flex;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: rgba(20, 13, 13, 0.1);
}

.avatar{
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background-color: white;
    display: flex;
    color: #fff; 
    margin-left: 20px;
}

.avatar-AI{
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background-color: white;
    display: flex;
    background-color: green; 
    margin-left: 20px;
}

.message {
    margin-left: 100px;
    margin-right: 40px;
    height: 100%;
  }

